.aprobed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 200px;
    z-index:1000;
    animation-name: fade;
    animation-duration: 0.6s;
    display:none;
}
.btn-delete {
    margin-left: 15px;
    cursor: pointer;
}

.categories {
    cursor: url(https://christianrenovell.com/assets/miraTele.png), default;
}
/*Animación de sello*/
@keyframes fade {
    from {
        transform: scale(9);  
    }
    to {
        transform: scale(1);  
    }
  }